*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background:burlywood;
    top: 100px;
    left: 10px;
}


.booklist{
    width: 90vw;
    max-width: 1170px;
    margin: 4rem auto;
    display: grid;
    gap: 2rem;

}
@media screen and (min-width:768px){
.booklist{
    grid-template-columns: repeat(3, 1fr);
}
}